#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

/var/log/postgresql/*.log {
    {{ postgresql_logrotate_options.frequency | default('daily') }}
    rotate {{ postgresql_logrotate_options.rotate | default(7) }}
{% if postgresql_logrotate_options.compress | default(true) %}
    compress
{% endif %}
{% if postgresql_logrotate_options.delaycompress | default(true) %}
    delaycompress
{% endif %}
{% if postgresql_logrotate_options.missingok | default(true) %}
    missingok
{% endif %}
{% if postgresql_logrotate_options.notifempty | default(true) %}
    notifempty
{% endif %}
    create 0640 postgres postgres
    postrotate
        if [ -f /var/run/postgresql/postgresql.pid ]; then
            systemctl reload postgresql > /dev/null 2>&1 || true
        fi
    endscript
}
